<GridLayout columns="50, auto, *" rows="50, auto, *" backgroundColor="lightgray" >
  <Label text="Label 1" row="0" col="0" backgroundColor="red"></Label>
  <Label text="Label 2" row="0" col="1" colSpan="2" backgroundColor="green"></Label>
  <Label text="Label 3" row="1" col="0" rowSpan="2" backgroundColor="blue"></Label>
  <Label text="Label 4" row="1" col="1" backgroundColor="yellow"></Label>
  <Label text="Label 5" row="1" col="2" backgroundColor="orange"></Label>
  <Label text="Label 6" row="2" col="1" backgroundColor="pink"></Label>
  <Label text="Label 7" row="2" col="2" backgroundColor="purple"></Label>
</GridLayout>

<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!-- <page-router-outlet></page-router-outlet> -->

<!--
<AbsoluteLayout>
  <label top="50" left="100" text="Botão 1" backgroundColor="red"></label>
  <Button top="150" text="Eu sou um botão 2" margin="30" backgroundColor="red"></Button>
</AbsoluteLayout>
-->

<!--
<DockLayout backgroundColor="lightgray" stretchLastChild="false">
  <Label text="left" dock="left" width="60" backgroundColor="red"></Label>
  <Label text="top" dock="top" height="60" backgroundColor="green"></Label>
  <Label text="right" dock="right" width="60" backgroundColor="blue"></Label>
  <Label text="bottom" dock="bottom" height="60" backgroundColor="yellow"></Label>
</DockLayout>
-->
