<ActionBar class="action-bar" title="Temas do NativeScript"></ActionBar>
<ScrollView>
  <StackLayout class="page">
    <label text="Label com class h1" class="h1"></label>
    <label text="Label com class h4" class="h4"></label>

    <Progress value="70" class="progress"></Progress>
    <ActivityIndicator busy="true" class="activity-indicator"></ActivityIndicator>

    <Button text="Botão com class btn" class="btn"></Button>
    <Button text="Botão com class btn-primary" class="btn-primary"></Button>
    <Button text="Botão com class btn-outline" class="btn-outline"></Button>

    <StackLayout class="hr-dark"></StackLayout>

    <StackLayout class="form m-t-30 m-b-30">
      <StackLayout class="input-field">
        <label text="Nome" class="label font-weight-bold m-b-5"></label>
        <TextField class="input"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>

      <StackLayout class="input-field">
        <label text="Email" class="label font-weight-bold m-b-5"></label>
        <TextField class="input"></TextField>
        <StackLayout class="hr-light"></StackLayout>
      </StackLayout>
    </StackLayout>

    <StackLayout class="hr-light"></StackLayout>

    <label text="Label com class body" class="body"></label>
    <label text="Label com class footnote" class="footnote"></label>
    <label text="Label com class body e text-center" class="body text-center"></label>
    <label text="Label com class body e font-italic" class="body font-italic"></label>

    <label text="Label com class body e m-l-20" class="body m-l-20"></label>

    <StackLayout class="hr-dark"></StackLayout>

    <label text="Label com class text-primary" class="text-primary"></label>
    <label text="Label com class text-danger" class="text-danger"></label>
    <label text="Label com class text-muted" class="text-muted"></label>

    <StackLayout class="hr-dark"></StackLayout>

    <StackLayout class="bg-primary">
      <label text="I want to draw your attention here."></label>
    </StackLayout>
    <StackLayout class="bg-danger">
      <label text="A critical error has occured!"></label>
    </StackLayout>

    <StackLayout class="hr-dark"></StackLayout>
  </StackLayout>
</ScrollView>
<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<!-- <page-router-outlet></page-router-outlet> -->
